<h1 class="pb-4">Explore Categories</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/category">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
  </ol>
</nav>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <% if(Category.length>0 ) { %>
    <% Category.forEach((item,index) =>
    { %>
        <a href="/recipe/<%-item._id %>" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="/uploads/<%- item.image %>" alt="item.name">
            </div>
            <div class="pt-1">
               <%- item.name %>
            </div>
        </a>
  <%  }) %>
    
<% } %>